.hero__section{
    width: 100%;
    height: 80vh;
    position: relative;
}
@media(max-width: 50em){
    .hero__section{
        height: 65vh;
    }
}
.hero__section ul{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    overflow: hidden;
}

.sliderimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    filter: brightness(50%);
}
.activeSlide{
    display: block;
    animation: left-to-right;
    animation-duration: .25s;
    position: absolute;
    z-index: 2;
}
.prevSlide{
    display: block;
    animation: right-to-left;
    animation-duration: .25s;
    position: absolute;
    z-index: 1;
}
@keyframes left-to-right {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes right-to-left {
    from {
        transform: translate(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
.placeholder{
    height: 100px;
    display: none;
}
.buttons_slider{
    width: 100%;
    top: 50%;
    display: flex;
    justify-content:space-between;
    padding: 0 1rem;
    position: absolute;
    z-index: 3;
}
.buttons_slider button{
    background-color: rgba(0, 0, 0, .75);
    border: none;
}
.buttons_slider button svg{
    fill: white;
    font-size: 3rem;
}
img{
    width: 100%;
}